*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: poppins;
    margin: 0;
    display: grid;
    font-size: 14px;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: rgb(63, 63, 66);
}

.footer>* {
    flex: 1 100%;
}

.l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

h2 {
    font-weight: 400;
    font-size: 15px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
}

.r-footer>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: rgb(91, 180, 146);
}

.h-box {
    column-count: 1;
    column-gap: 1.25em;
}

.b-footer {
    text-align: center;
    color: rgb(221, 214, 214);
    padding-top: 50px;
}

.l-footer p {
    padding-right: 20%;
    color: rgb(236, 232, 232);
}

@media screen and (min-width: 650px) {
    .r-footer>* {
        flex: 1;
    }
    .features {
        flex-grow: 2;
    }
    .l-footer {
        flex: 1 0px;
    }
    .r-footer {
        flex: 2 0px;
    }
}