* {
    background-image: url(/images/bg.jpg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.btnn2 {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: linear-gradient(45deg, #1abc9c, #149279);
    color: #130f40;
    cursor: pointer;
    font-weight: bold;
    border-radius: .5rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.btnn2:hover {
    background: #1e5f52;
    color: #fff;
}

/* body {
    width: 100%;
    min-height: 100vh;
  
    background-position: center;
    background-size: cover;
    display: flex;
    /* justify-content: center; */

/* align-items: center; */

*/
/* .container {
    width: 420px;
    min-height: 410px;
    background: #FFF;
    border-radius: 9px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
} */

/* .container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
} */

/* .container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
} */

/* .container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
} */

/* .container .login-email .input-group input:focus, .container .login-email .input-group input:valid {
    border-color: #a29bfe;
} */

/* .container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
} */

/* 
.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
} */

/* .login-register-text {
    color: #111;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
} */

.login-register-text a {
    text-decoration: none;
    color: #6c5ce7;
}
