* {
    box-sizing: border-box;
}

.card h5 {
    font-weight: bolder;
    text-align: center;
}

.card p {
    font-weight: lighter;
    color: gray;
    text-align: center;
    font-family: arial, helvetica, sans-serif;
}

#cards {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#cards:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}